<div id="featurebox">
  <b>The Skinny</b><br />
  <hr />
      <p>
        <b>Finish - </b>
        <%= @theme.finish %>
      </p><hr />

      <p>
        <b>Body - </b>
        <%= @theme.body %>
      </p><hr />

      <p>
        <b>Color - </b>
        <%= @theme.color %>
      </p><hr />

      <p>
        <b>Top - </b>
        <%= @theme.top %>
      </p><hr />

      <p>
        <b>Neck - </b>
        <%= @theme.neck %>
      </p><hr />

      <p>
        <b>Headstock - </b>
        <%= @theme.headstock %>
      </p><hr />

      <p>
        <b>Frets - </b>
        <%= @theme.frets %>
      </p><hr />

      <p>
        <b>Electronics - </b>
        <%= @theme.electronics %>
      </p><hr />

      <p>
        <b>Hardware:</b>
        <%= @theme.hardware %>
      </p>
  </ul>
</div> <!-- featurebox -->