  <%= render 'layouts/main_navbar' %>
<div id="page">

  <div id="repair">
    <%= render 'contact' %>
    <h1>BM Pro Repair Shop</h1>
    <div id="larger"><%= image_tag "webphotos/repairs.jpg" %></div>
    <p>Becker Guitars started in 1996 as a one man operation and has grown into an all start team of luthiers, techs, woodworkers, and finishers.  We specialize in the restorations of old Martins and other vintage insruments.  With our fully equipped repair shop, woodshop, humidity room and spraying area, we are prepared to take on all of your repair and restoration needs.</p>
    <div class="strips"><%= image_tag "webphotos/repair_martin.png" %></div>
    <h2>Warranty Service Center for:</h2>
    <div class="strips"><%= image_tag "webphotos/repair_logos.jpg" %></div>
  </div><!-- repair -->
</div> <!-- page -->