<%= render 'layouts/main_navbar' %>
<div id="page">
   <h3>Welcome to the Becker Family of Themes.</h3>
  <p2>We offer our models in a variety of themes, all with different specifications, price levels, and options. 
    Please refer to models pages to see which themes are available for each model. We currently offer the following themes: 
 </p2>
  
  <% @themes.each do |t| %>
    <div id="listbox">
      <p><%= link_to t.name, action: 'theme', id: t.id %></p>
      <p>
      <% if t.image_url.blank? %>
        <%= t.description %>
      <% else %>
        <%= link_to image_tag(t.image_url), action: 'theme', id: t.id %>
      <% end %></p>
    </div>


  <% end %>  
  <div id="sidebox1">
        <%= render 'sidecart3' %>
  </div> <!-- sidebox1-->
</div> <!-- page -->