
<ul>
  <li class="adminButtons">
    <p><%= link_to 'Body Types',  body_types_path %></p>
  </li>
  <li class="adminButtons">
    <p><%= link_to 'Themes', themes_path %></p>
  </li>
  <li class="adminButtons">
    <p><%= link_to 'Features',  features_path %></p>
  </li>
  <li class="adminButtons">
    <p><%= link_to 'Options',   options_path %></p>
  </li>
  <li class="adminButtons">
    <p><%= link_to 'Products',  products_path %></p>
  </li>
</ul>