

 
<h2>Themes at a Glance</h2>

<%= link_to 'New Theme', new_theme_path %>

</div>
    <ul>
      <% @themes.each do |theme| %>
        <hr />
        <li>
          <%= link_to theme.name, {}, class: "codeLink" %>
          <% if theme.thumb_url.blank? %>
          <% else %>
            <p><%= image_tag(theme.thumb_url, class: 'list_image') %></p>
          <% end %>
          <div class="codeDropDown">
          <p><%= truncate(strip_tags(theme.description),
                length: 50) %></p>

          <%= theme.finish %> |
          <%= theme.body %> |
          <%= theme.color %> | 
          <%= theme.top %> |
          <%= theme.neck %> |
          <%= theme.headstock %> |
          <%= theme.frets %> |
          <%= theme.electronics %> |
          <%= theme.hardware %> |
          <%= theme.description %> |
          <%= theme.finish %> | 
          <%= theme.body %>
          <p>$<%= theme.price %>0</p>
          <p><%= theme.display %></p>
          <p><% @body_types = theme.body_types %></p>
          <% @body_types.each do |t| %>
          <%= check_box_tag "theme[body_type_ids][]", t.id, @body_types.include?(t) %>
          <%= link_to t.name, body_type_path(t) %>
          <% end %>
        </li>
        <li class="tcell"><a href="#" class="<%= theme.name %>">Features</a>
          <div class="adminDropDown <%= theme.name %>">
            <% @options   = Option.order("options.price ASC") %>
            <%= render 'admins/cart' %>
          </div>
      <% end %>
    </ul>
</div> <!-- page -->
