<%= render 'layouts/main_navbar' %>

<div id="page">
  <p><br /></p><p><br /></p>
  <% if notice %>
      <p id="notice"><%= notice %></p>
  <% end %>
  <%= link_to 'Edit', edit_theme_path(@theme) %> |
  <%= link_to 'List', themes_path %>
  <p>Display:<%= @theme.display %></p>
  <%= render 'main/theme_view' %>
  
</div> <!--page-->
