<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :feature_id %><br />
    <%= f.select :feature_id, @feat %>
  </div>

    <li class="tcell"><a href="#" class="<%= @option.id %>">Build Drop Down List</a>
    <div class="adminDropDown <%= @option.id %>">
      <ul>
        <li class="DropDownColumn"><strong>Body Types</strong><% @body_types.each do |body_type| %>
          <div><%= check_box_tag "@option[body_type_ids][]", body_type.id, @option.body_types.include?(body_type) %>
              <%= body_type.name %>
          </div>
        <% end %>
        </li>
        <li class="DropDownColumn"><strong>Themes</strong>
        <% @themes.each do |theme| %>
          <div><%= check_box_tag "@option[theme_ids][]", theme.id, @option.themes.include?(theme) %>
              <%= theme.name %>
          </div>
        <% end %>
        </li>
        <li class="DropDownColumn"><strong>Products</strong>
        <% @products.each do |product| %>
          <div><%= check_box_tag "@option[product_ids][]", product.id, @option.products.include?(product) %>
              <%= product.name %>
          </div>
        <% end %>
        </li>
      </ul>
    </div>



  <div class="field">
    <%= f.label :default %><br />
    <%= f.check_box :default %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.check_box :display %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
