<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :feature_id %><br />
    <%= f.select :feature_id, @feat %>
  </div>
  <div class="field">
  <%= f.label :body_types %><br />
  <%= hidden_field_tag "option[body_type_ids][]", nil %>
  <% @body_types.each do |body_type| %>
      <%= check_box_tag "option[body_type_ids][]", body_type.id, @option.body_types.include?(body_type) %>
      <%= body_type.name %>
  <% end %>
  </div>
  <div class="field">
  <%= f.label :themes %><br />
  <%= hidden_field_tag "option[theme_ids][]", nil %>
  <% @themes.each do |theme| %>
      <%= check_box_tag "option[theme_ids][]", theme.id, @option.themes.include?(theme) %>
      <%= theme.name %>
  <% end %>
  </div>
  <div class="field">
  <%= f.label :products %><br />
  <%= hidden_field_tag "option[product_ids][]", nil %>
  <% @products.each do |product| %>
      <%= check_box_tag "option[product_ids][]", product.id, @option.products.include?(product) %>
      <%= product.name %>
  <% end %>
  </div>


  <div class="field">
    <%= f.label :default %><br />
    <%= f.check_box :default %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.check_box :display %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
