  <%= render 'layouts/main_navbar' %>
<h1>Listing options</h1>
<%= link_to 'New Option', new_option_path %>
<table>
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Feature</th>
    <th>Product</th>
    <th>Default</th>
    <th>Display</th>
    <th>Theme</th>
    <th>Body Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @options.each do |option| %>
  <tr>
    <td><%= option.description %></td>
    <td><%= number_with_precision(option.price, :precision => 0) %></td>
    <td><%= @feat[option.feature_id] %></td>
    <td><%= @prod[option.product_id] %></td>
    <td><%= option.default %></td>
    <td><%= option.display %></td>
    <td><%= Theme.find(option.theme_id).name if (option.theme_id)  %></td>
    <td><%= BodyType.find(option.body_type_id).name if (option.body_type_id) %></td>
    <td><%= link_to 'Edit ALL |', option %></td>
    <td><%= link_to 'Edit THIS |', edit_option_path(option) %></td>
    <td><%= link_to 'Delete', action: 'delete', id: option.id %></td>
  </tr>
<% end %>
</table>

<br />


