
<% if notice %>
<p id="notice"><%= notice %></p>
<% end  %>

<table>
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Feature</th>
    <th>Body Type</th>
    <th>Theme</th>
    <th>Product</th>
    <th>Default</th>
    <th>Display</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @options.each do |option| %>
    <tr>
      <td><%= best_in_place option, :description, html_attrs: { size: 34}  %></td>
      <td><%= best_in_place option, :price, display_with: :number_to_currency, helper_options: {:precision => 0} %></td>
      <td><%= best_in_place option, :feature_id, type: :select, collection: @feature_array, html_attrs: { include_blank: true } %></td>
      <td><ul><% @body_types.each do |body_type| %>
            <li><%= check_box_tag "option[body_type_ids][]", body_type.id, option.body_types.include?(body_type) %>
                <%= body_type.name %></li>
      <% end %></ul></td>
      <td><ul><% @themes.each do |theme| %>
            <li><%= check_box_tag "option[theme_ids][]", theme.id, option.themes.include?(theme) %>
                <%= theme.name %></li>
      <% end %></ul></td>
      <td><ul><% @products.each do |product| %>
            <li><%= check_box_tag "option[product_ids][]", product.id, option.products.include?(product) %>
                <%= product.name %></li>
      <% end %></ul></td>    
      <td><%= best_in_place option, :default, type: :checkbox, collection: %w[false true] %></td>
      <td><%= best_in_place option, :display, type: :checkbox, collection: %w[false true] %></td>
      <td><%= link_to 'Edit |', edit_option_path(option) %></td>
      <td><%= link_to 'Delete', action: 'delete', id: option.id %></td>
      <td><%= link_to ' |  New Option', new_option_path %></td>
    </tr>
  <% end %>
</table>
