<div id="page">
  
  <div id="title-banner"><h1><%= @product.name %> <%= @product.type_of.capitalize %>
  </h1>
  </div><!-- title-banner -->
    <%= render 'cart_sidebar2' %>
    <%= render 'build_type'%>
    <%= render 'features' %>
</div> <!-- page -->