 

  <h3>Body Types</h3>

  <%= link_to 'New Body type', new_body_type_path %>

  </div>
      <ul>
        <% @body_types.each do |body_type| %>
          <hr />
          <li>
            <%= link_to body_type.name, {}, class: "codeLink" %>

            <div class="codeDropDown">
              <% if body_type.image_url.blank? %>
              <% else %>
                <p><%= image_tag(body_type.image_url, class: 'list_image') %></p>
              <% end %>
            <p><%= truncate(strip_tags(body_type.description),
                  length: 50) %></p>
            <p>$<%= body_type.price %>0</p>
            <p><%= body_type.type_of %></p>
            <% @themes = body_type.themes %>
            <% body_type.themes.each do |t| %>
            <%= check_box_tag "body_type[theme_ids][]", t.id, body_type.themes.include?(t) %>
            <%= link_to t.name, theme_path(t) %>
            <% end %>
          </li>
          <li class="tcell"><a href="#" class="<%= body_type.name %>">Features</a>
            <div class="adminDropDown <%= body_type.name %>">
              <% @options   = Option.order("options.price ASC") %>
              <%= render 'admins/cart' %>
            </div>
        <% end %>
      </ul>
  </div> <!-- page -->      
