 
<h3>Products at a Glance</h3>

<%= link_to 'New Product', new_product_path %>
<%= link_to "Code Drop Down Link", {}, class: "codeLink" %>
<div class="codeDropDown">
  <p>Drag-able Handle</p>
  <p>Each Body Type - Name link -> Edit detail of body type - photo_urls etc / 'X' delete link</p>
  <p>themes - radio list - checked when available - could show avails and have "add new theme" and it shows a list of other themes</p>
  <p>List Products that have this body type ?</p>
  <p>Body Type and Theme divs load from server - features div load via ajax at document ready</p>
  <p>Options available for each feature - checked when available for body type</p>
  <p>Themes for each option avail show, add theme button shows unchecked list of other themes</p>
  <p>if you check a theme that is on a same option earlier it should prompt a box to alert the user</p>
  <p1>Code to call the options for this body type in each feature</p1><br />
  <p1>Code to put a theme check box next to each group of options with add theme</p1>
</div>
<div>
    <ul>
      <% @products.each do |product| %>
        <hr />
        <li>
          <%= link_to product.name, edit_product_path(product)  %></li>
        <li>  
          <%= raw(product.description) %> | 
          <%= product.type_of %> | 
          <%= product.price %>
          <%= link_to 'X', action: 'delete', id: product.id %></li>
        <li class="tcell">
          <% theme = Theme.find(product.theme_id) %>
          <%= theme.name %>
          <% body_type = BodyType.find(product.body_type_id) %>
          <%= body_type.name %>
        </li>
        <li class="tcell"><a href="#" class="<%= product.body_type.name %><%= product.theme.name %>">Features Drop down link</a>
          <div class="adminDropDown <%= product.name %><%= product.theme.name %>">
            <% @options   = Option.order("options.price ASC") %>
            <%= render 'admins/cart' %>
          </div>
        </li>
      <% end %>
    </ul>
