 
<h3>Showroom</h3>

<%= link_to 'New Product', new_product_path %>

<div>
    <ul>
      <% @products.each do |product| %>
        <hr />
        <li>
          <%= link_to product.name, {}, class: "codeLink" %></li>
 
        </li>
        <li class="tcell"><a href="#" class="<%= product.body_type.name %><%= product.theme.name %>">Features</a>
          <div class="adminDropDown <%= product.name %><%= product.theme.name %>">
            <% @options   = Option.order("options.price ASC") %>
            <%= render 'admins/cart' %>
          </div>
        </li>
      <% end %>
    </ul>
