<% if line_item == @current_item %>
  <ul id="current_item" class="line_item<%= line_item.id %>">
<% else %>
  <ul class="line_item<%= line_item.id %>">
<% end %>
    <li>Item: <%= line_item.instrument.body.capitalize %>&nbsp;<%= line_item.instrument.type_of.capitalize %></li>
    <li>Quantity: <%= line_item.quantity %>&nbsp;&nbsp;  &nbsp;&nbsp;
      <span class="quantity-up">
      <%= link_to '^', line_item_path(line_item, amount: 1), 
                      method: :put,
                      remote: true %></span>&nbsp;&nbsp; | &nbsp;&nbsp;
      <span class="quantity-down">
      <%= link_to ' v ', line_item_path(line_item, amount: -1), 
                      method: :put,
                      remote: true %></span>&nbsp;&nbsp; | &nbsp;&nbsp;                      
      <span class="delete-button"><%= link_to 'Remove', line_item, 
                      method:  :delete,
                      remote: true %>
      </span>&nbsp;&nbsp; &nbsp;&nbsp;<span class="save-button"></span></li>
    <li class="item_price">Total Item Price: <%= number_to_currency(line_item.total_price) %></li>
  </ul>
