<% if line_item == @current_item %>
  <ul id="current_item" class="line_item">
<% else %>
  <ul class="line_item">
<% end %>
    <li>Product: <%= line_item.product.name %></li>
    <li>Object: <%= line_item.inspect %>
    <li>Quantity: <%= line_item.quantity %></li>
    <li class="item_price">Total Item Price: <%= number_to_currency(line_item.total_price) %></li>
  </ul>
    <div class="delete-button"><%= button_to 'Remove Item', line_item, 
                    method:  :delete,
                    remote: true,
                    confirm: "Does this ever happen?" %>
    </div>

