<table>
 <tr>
   <th>Description</th>
   <th>Price</th>
   <th>Default</th>
   <th>Display</th>
   <th></th>
   <th></th>
   <th></th>
 </tr>
<% @options.each do |option| %>
  <tr>
    <td><%= best_in_place option, :description, html_attrs: { size: 34}  %></td>
    <td><%= best_in_place option, :price, display_with: :number_to_currency, helper_options: {:precision => 0} %></td>
    <td><%= best_in_place option, :default, type: :radio, collection: %w[false true] %></td>
    <td><%= best_in_place option, :display, type: :checkbox, collection: %w[false true] %></td>
    <td>
      <%= render  'options/option_associations',option: option,  collection:[ @body_types, @themes, @products] %>
    </td>
    <td>&nbsp; | &nbsp;</td>
    <td><%= link_to 'Edit', edit_option_path(option) %></td>
    <td>&nbsp; | &nbsp;</td>
    <td><%= link_to 'Clone Option', new_option_path %></td>
  </tr>
<% end %>
</table>

