 
<h3>Features</h3>



<%= link_to 'New Feature', new_feature_path %> 
    <ul>
      <% @features.each do |feature| %>
        <hr />
        <li>
          <%= link_to feature.name, edit_feature_path(feature)  %></li>
        <li class="tcell">
          <% @options = Option.where(feature_id: feature.id).order("options.price ASC") %>
          <%= render 'options', feature: feature %>
        </li>
        <li>Add Option</li>
      <% end %>
    </ul>


    <div class="re_order">
      <h2>Order Features on site</h2>
      <ul id="faqs" data-update-url="<%= sort_features_url %>">
        <% @features.each do |feature| %>
          <%= content_tag_for :li, feature do %>
            <tr id="rows">
              <td><span class="handle"><%= image_tag("webphotos/transfer_down_up.png") %></span></td>
              <td><%= link_to feature.name, edit_feature_path(feature) %></td>
              <td><%= feature.description %></td>
            </tr>
          <% end %>
        <% end %>
      </ul>
    </div> <!-- re_order -->