<div id="body_type" value="<%= @body_type.price %>">You have chosen the <%= @body_type.name.capitalize %> <%= @body_type.type_of.capitalize %>
<span>[Add $<%= @body_type.price %>]</span></div>
<div  id="theme" value="<%= @theme.price %>">You have chosen the <%= @theme.name.capitalize %> Theme
<span>[Add $<%= @theme.price %>]</span></div>
<div id="feature_adds"></div>
  <%= render 'features' %>
