<ul class="instrumentStart">
  <li class="tabClick1">
    <%= link_to "Guitar", {action: 'new', instrument: 'custom'},{href: '#'} %>
  </li>
  <li class="tabClick1">
    <%= link_to "Bass", {action: 'new', instrument: 'custom'},{href: '#'} %>
  </li>
  <li class="tabClick1">
    <%= link_to "Mandolin", {action: 'new', instrument: 'custom'},{href: '#'} %>
  </li>
  <li class="tabClick1">
    <%= link_to "Banjo", {action: 'new', instrument: 'custom'},{href: '#'} %>
  </li>
  <li class="tabClick1">
    <%= link_to "Lap Steel", {action: 'new', instrument: 'custom'},{href: '#'} %>
  </li>
</ul>
