<% f = opt %>  

    <tr>
      <td><div class="field">
        <%= f.check_box :default %>
      </div></td>
      <td><div class="field">
        <%= f.check_box :display %>
      </div></td>
      <td><div class="field">
        <%= f.text_field :description %>
      </div></td>
      <td><div class="field">
        <%= f.text_field :price %>
      </div></td>
      <td>&nbsp;</td>
      <td><div class="actions">
        <%= f.submit %>
      </div></td>
    </tr>



