
<%= render 'store_breadcrumbs' %>
<%= link_to @type, action: 'body', type: @type%>
<span> > </span>
<%= render 'store_breadcrumbs_post' %>
<div id="store-page">
  <div class="tabs">
    <h1>Custom Build an Instrument <%= @instrument.type_of %></h1>
    <h2>Step 2: Choose Body Type</h2>
    <ul>
      <% @body.each do |b| %>
        <li><%= button_to b.name, action: 'customize', body: b.name, id: @instrument.id %>$<%= b.price %></li>
      <% end %>
    </ul>
  </div>
</div>
