
<%= render 'store_breadcrumbs' %>
<%= link_to @type, action: 'body', type: @type%>

<span>-</span>

<%= render 'store_breadcrumbs_post' %>

<div id="store-page">
  <div class="tabs">
    <h3>Custom Build an Instrument <%= @instrument.type_of %></h3>
    <h4>Step 2: Choose Body Type</h4>
    <ul>
      <% @body.each do |b| %>
        <li>
        	<%= button_to b.name, action: 'customize', body: b.name, id: @instrument.id %>$<%= b.price %>
        	0
        </li>
      <% end %>
    </ul>
  </div>
</div>

