<!-- inside body.store -->
  <h3 class="shopWelcome">
    Build a custom instrument
  </h3>
  <!-- 
  <div class="breadCrumbs">
    <%= render 'store_breadcrumbs' %>
    <%= link_to @type, action: 'body', type: @type%> 
  </div>
  -->
  <h3 class="helpAccountCart">
    <span id='breadcrumb-right'>
      <%= link_to 'help i ', about_path %>
      <%= link_to 'account i ', "#" %>
      <%= link_to 'cart', '#' %>
    </span>
  </h3>


  <div class="shop">
    <div class="tabs">
      <h3 class="chooseBodyHeader">Choose Body Type</h3>
      <ul>
        <% @body.each do |b| %>
          <li class="instrumentChooser">
            <h3 class="bodyClick">
              <%= button_to b.name, action: 'customize', body: b.name, id: @instrument.id %>
            </h3>
            <h3 class="bodyPrice">
              $<%= b.price %>
            </h3>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

