
<%= render 'store_breadcrumbs' %>
<%= link_to @type, action: 'body', type: @type%>
<%= link_to @body, action: 'customize', body: @body, instrument: @type  %>
<span>></span>
<%= render 'store_breadcrumbs_post' %>
    <%= render 'cart_sidebar2' %>
<div id="store-page">
  <div class="tabs">


    <h1>Custom Build an Instrument</h1>
    <%= form_for(@instrument) do |f| %>
      <%= render "#{@instrument.step}", collection: @features %>
    
      <div>
        <input type="hidden" name="step" value="<%= @next_step %>" />
      </div>
      <div class="actions">
        <p><%= f.submit "Continue" %></p> 
      </div>
    <% end %>

   
