
<%= render 'store_breadcrumbs' %>
<%= link_to @type %>
<%= link_to @body %>
<span>></span>
<%= render 'store_breadcrumbs_post' %>
<div id="store-page">
  <div class="tabs">
    <h1>Custom Build an Instrument</h1>
    <%= render :partial => 'wood' %>

    <%= render :partial => 'paint' %>

    <%= render :partial => 'neck' %>

    <%= render :partial => 'electronics' %>

    <%= render :partial => '_accessories' %>
   
