<!-- inside body.store -->
  <h3 class="shopWelcome">
    Build a custom instrument
  </h3>
  
  <!-- 
  <div class="breadCrumbs">
    <%= render 'store_breadcrumbs' %>
    <%= link_to @type, action: 'body', type: @type%> 
    <%= link_to @body, action: 'customize', id: @instrument.id, body: @body, instrument: @type  %>
  </div>
  -->
  <h3 class="helpAccountCart">
    <span id='breadcrumb-right'>
      <%= link_to 'help i ', about_path %>
      <%= link_to 'account i ', "#" %>
      <%= link_to 'cart', '#' %>
    </span>
    <p><%= render 'cart_sidebar2' %></p>
  </h3>
  <div class="shop">
    <div class="tabs">
      <%= form_for(@instrument) do |f| %>
        <%= render "#{@instrument.step}", collection: @features %>
    
        <div>
          <input type="hidden" name="step" value="<%= @next_step %>" />
        </div>
        <div id="submit_price">
          <input  type="hidden" name="price" value="<%= @instrument.price %>" />
        </div>
        <div class="actions">
          <p><%= f.submit "Continue" %></p> 
        </div>
      <% end %>






