
<%= render 'store_breadcrumbs' %>
<%= link_to @type, action: 'body', type: @type%>
<%= link_to @body, action: 'customize', body: @body, instrument: @type  %>
<span>></span>
<%= render 'store_breadcrumbs_post' %>
<div id="store-page">
  <div class="tabs">
    <h1>Custom Build an Instrument</h1>
    <%= render 'wood' %>
               
    <%= render 'paint' %>
               
    <%= render 'neck' %>
               
    <%= render 'electronics' %>
               
    <%= render 'accessories' %>
   
