
  <%= render 'store_breadcrumbs' %>
  <%= render 'store_breadcrumbs_post' %>
  <div id="store-page">
    <div class="tabs">
      <h1>Custom Build an Instrument</h1>
      <h2>Step 1: Choose an instrument</h2>
      <ul>
        <li><%= link_to 'Guitar',    action: 'body', type: 'guitar' %></li>
        <li><%= link_to 'Bass',      action: 'body', type: 'bass' %></li>
        <li><%= link_to 'Banjo',     action: 'body', type: 'banjo' %></li>
        <li><%= link_to 'Mandolin',  action: 'body', type: 'mandolin' %></li>
        <li><%= link_to 'Lap Steel', action: 'body', type: 'lap_steel' %></li>
      </ul>
    </div>
  </div>
