<!-- inside body.store -->
  <h3 class="shopWelcome">
    Build a custom instrument
  </h3>
  <!-- 
  <div class="breadCrumbs">
    <%= render 'store_breadcrumbs' %> 
  </div>
  -->
  <h3 class="helpAccountCart">
    <span id='breadcrumb-right'>
      <%= link_to 'help i ', '#' %>
      <%= link_to 'account i ', "#" %>
      <%= link_to 'cart', '#' %>
    </span>
  </h3>


  <div class="shop">
    <div class="tabs">
      <h3>Step 1: Choose an instrument</h3>
      <ul>
        <li class="instrumentChooser"><%= button_to 'Guitar',    action: 'body', type: 'guitar' %></li>
        <li class="instrumentChooser"><%= button_to 'Bass',      action: 'body', type: 'bass' %></li>
        <li class="instrumentChooser"><%= button_to 'Banjo',     action: 'body', type: 'banjo' %></li>
        <li class="instrumentChooser"><%= button_to 'Mandolin',  action: 'body', type: 'mandolin' %></li>
        <li class="instrumentChooser"><%= button_to 'Lap Steel', action: 'body', type: 'lap_steel' %></li>
      </ul>
    </div>
  </div>
