  <%= render 'layouts/main_navbar' %>
<div id="store-page">
  
    <div class="tabs step1Wrapper">
      <h1 class="storeHeader">Custom Build an Instrument</h1>
      <ul class="instrumentStart">
        <li class="guitarClick1"><%= link_to ("Guitar"),  action: 'new', instrument: 'guitar' %></li>
        <li class="bassClick1"><%= link_to ("Bass"),     action: 'new', instrument: 'bass' %></li>
        <li class="customClick1"><%= link_to ("Custom Instruments"), action: 'new', instrument: 'custom' %></li>
        <li class="allClick1"><%= link_to ("All"), action: 'new' %></li>
      </ul>
    </div> <!-- tabs --> 

    <div class="loop">
      <% @type_of.each do |t| %>
        <div class="showcase">
          <h2> Choose a <%= t.capitalize %> Body Style </h2>
          <% @products.each do |p| %>
            <% if p.type_of == t %>
              <div id="listbox">
                <p><%= p.name %></p>
                <%= link_to image_tag(p.image_url), action: "themes", id: p.id  %>
              </div>
            <% end %>
          <% end %>  
        </div> <!-- showcase -->
      <% end %>
    </div> <!-- loop -->

</div> <!-- store-page -->
  
  
  