<div id="store-page">
    <div class="tabs step1Wrapper">
      <h2 class="storeHeader">Home > Store</h2>
      <h1 class="storeHeader">Custom Build an Instrument</h1>
      <h2 class="chooseInstrument">Step 1: Choose an instrument</h2>
      <ul class="instrumentStart">
        <li class="guitarClick1">
          <%= link_to "Guitar", {action: 'new', instrument: 'custom'},{href: '#'} %>
        </li>
        <li class="bassClick1">
          <%= link_to "Bass", {action: 'new', instrument: 'custom'},{href: '#'} %>
        </li>
        <li class="customClick1">
          <%= link_to "Custom Instrument", {action: 'new', instrument: 'custom'},{href: '#'} %>
        </li>
        <li class="allClick1">
          <%= link_to "All", {action: 'new', instrument: 'custom'},{href: '#'} %>
        </li>
      </ul>
      <h2><div id="messageReceiver"></div></h2>
      <div id="choiceReceiver"></div>
      <h2><div id="messageReceiver2"></div></h2>
      <div id="choiceReceiver2"></div>
    </div> <!-- tabs --> 
    <div id="cart_sidebarReceiver"></div>
    <%= render 'spinnerGuitar' %>
    <div id="spinnerReceiver"></div>
    <h2><div id="messageReceiver3"></div></h2>
    <div id="featureReceiver"></div>

</div> <!-- store-page -->


<script>

$(document).ready(function() {
  $(header).animate({
    top: '-=109',
  }, 2500);
});

</script>
