  
  <!-- 
  <div class="breadCrumbs">
    <%= render 'store_breadcrumbs' %>
    <%= link_to @type, action: 'body', type: @type%> 
    <%= link_to @body, action: 'customize', id: @instrument.id, body: @body, instrument: @type  %>
  </div>
  -->

  <h3 class="helpAccountCart">
    <span id='breadcrumb-right'>
      <%= link_to 'help i ', about_path %>
      <%= link_to 'account i ', "#" %>
      <%= link_to 'cart', '#' %>
    </span>
    <p><%= render 'cart_sidebar2' %></p>
  </h3>
  <fieldset id="custom_build">
    <%= render 'instrument' %>
  </fieldset>
  <%= render 'add_to_cart' %>
