
<%= render 'store_breadcrumbs' %>
<%= link_to @type, action: 'body', type: @type%>
<%= link_to @body, action: 'customize', body: @body, instrument: @type  %>
<span>></span>
<%= render 'store_breadcrumbs_post' %>
    <%= render 'cart_sidebar2' %>
<div id="store-page">
  <div class="tabs">


    <h1>Custom Build an Instrument</h1>
<%= form_for(@instrument) do |f| %>
  <fieldset id="custom_build">
    <h2>Step 4: Choose Paint</h2>
      <% @features.each do |feature| %>
      <ul>
          <li><h3 id="feature" value="1000"><%= feature.name %></h3>
          <% feature.name.gsub!(" ", "-") %>
          <%= render 'feature_options', feature: feature %></li>
          
      </ul>
      <% end %>
  </fieldset>
  <div class="actions">
    <p><%= f.submit "Continue" %></p> 
  </div>
<% end %>
