
<%= render 'layouts/main_navbar' %>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<div id="page">
  <h1>Choose Your Options</h1>

<div class="jonBumper">
  <%= render 'cart_sidebar2' %>
  <%= render 'build_type' %>
  <%= render 'features' %>
</div>
</div> <!-- store-page -->
