<ul id="fittext2" class="navUl">
	<li id="guitarNavClick" class="firstLi navLi">
		<h2>
		<%= link_to "Design",{ controller: 'store', action: 'new'}, :id => "storeClick" %>
		</h2>
	</li>
	<li id="bassNavClick" class="navLi">
		<h2>
			<%= link_to 'Showroom', { controller: 'main', action: 'instruments'}, :id => "bassClick"%>
		</h2>
	</li>
	<li id="themesNavClick" class="navLi">
		<h2>
		<%= link_to "Woodshop", { controller: 'main', action: 'themes'}, :id => "themesClick"%>
		</h2>
	</li>
	<li id="artistsNavClick" class="navLi">
		<h2>
		<%= link_to "Artist",{ controller: 'main', action: 'artists' }, :id => "artistsClick" %>
		</h2>
	</li>
	<li id="storeNavClick" class="navLi">
		<h2>
		<%= link_to "Contact Us", controller: 'main', action: 'about' %>
		</h2>
	</li>