<!-- ***********    ADMIN NAV BAR     ***************-->
  <% if true #session[:user_id] %>
    <div id="admin-navbar">
      <div class="tabs">
        <ul>

          <li class="adminButtons">
            <p><%= link_to 'Body Types',  body_types_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Themes', themes_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Products',  products_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Features',  features_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Options',   options_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Customers',  customers_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Orders',    orders_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Front',     'admins' %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Artists',     artists_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Admin',     admins_url %></p>
          </li>
        </ul>
      </div>
    </div>
  <% end %>