<div id="banner">
  <ul>
    <li><%= link_to image_tag("Logos/BeckerLogoJay.png", :border=>0), controller: 'main' %></li>
    <li><%= link_to 'Guitars', controller: 'store', action: 'index', instrument: 'guitar' %></li>
    <li><%= link_to 'Bass', controller: 'store', action: 'index', instrument: 'bass' %></li>
    <li><%= link_to "Customs", controller: 'store', action: 'index', instrument: 'custom' %></li>
    <li><a href="#">Artists</a></li>
    <li><%= link_to 'Store', controller: 'store', action: 'index' %></li>
    <li><a href="#">Search</a></li>
    <li><%= link_to image_tag("Logos/RyanLogosmall.jpg", :border=>0), controller: 'main' %></a></li>
  </ul>
</div>
