<div class="headerBackground fixed">
	 <% if true #session[:user_id] %>
    <div id="admin-navbar">
      <div class="tabs">
        <ul>
          <li class="adminButtons">
            <p><%= link_to 'Body Types',  body_types_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Themes', themes_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Products',  products_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Features',  features_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Options',   options_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Customers',  customers_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Orders',    orders_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Front',     'admins' %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Artists',     artists_path %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Admin',     admins_url %></p>
          </li>
          <li class="adminButtons">
            <p><%= link_to 'Store#new', controller: 'store', action: 'new' %></p>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
	<h1 id="fittext1" class="headerText">
		<%= link_to 'Becker Instruments', controller: 'main', action: 'index' %>
	</h1>

		<ul id="fittext2" class="navUl">
			<li id="guitarNavClick" class="firstLi navLi">
				<h2>
				<%= link_to "Guitars", { controller: 'main', action: 'guitars'}, :id => "guitarsClick" %>
				</h2>
			</li>
			<li id="bassNavClick" class="navLi">
				<h2>
					<%= link_to 'Bass', { controller: 'main', action: 'basses'}, :id => "bassClick"%>
				</h2>
			</li>
			<li id="themesNavClick" class="navLi">
				<h2>
				<%= link_to "Theme", { controller: 'main', action: 'themes'}, :id => "themesClick"%>
				</h2>
			</li>

			<li id="customNavClick" class="navLi">
				<h2>
				<%= link_to "Custom",  { controller: 'main', action: 'customs'}, :id => "customClick" %>
				</h2>

			<li id="artistsNavClick" class="navLi">
				<h2>
				<%= link_to "Artist",{ controller: 'main', action: 'artists' }, :id => "artistsClick" %>
				</h2>
			</li>
			<li id="storeNavClick" class="lastLi navLi">
				<h2>
				<%= link_to "Store",{ controller: 'store', action: 'new'}, :id => "storeClick" %>
				</h2>
			</li>
		</ul>
		
</div>
<div class="topLine"></div>
