<div class="headerBackground fixed">

	<h1 id="fittext1" class="headerText">
		<%= link_to 'Electric CandyLand', controller: 'main', action: 'index' %>
	</h1>

		<ul id="fittext2" class="navUl">
			<li id="bassNavClick" class="navLi">
				<h2>
					<%= link_to 'Showroom', showroom_path , :id => "bassClick"%>
				</h2>
			</li>
			<li id="guitarNavClick" class="firstLi navLi">
				<h2>
				<%= link_to "Pricing",{ controller: 'store', action: 'index'}, :id => "storeClick" %>
				</h2>
			</li>
			<li id="artistsNavClick" class="navLi">
				<h2>
				<%= link_to "Artists", players_path , :id => "artistsClick" %>
				</h2>
			</li>
			<li id="storeNavClick" class="navLi">
				<h2>
				<%= link_to "Contact", controller: 'main', action: 'about' %>
				</h2>
			</li>
			<li id="storeNavClick" class="lastLi navLi">
				<h2>
				<%= link_to "LogIn", controller: 'admins', action: 'index', notice: "welcome" %>
				</h2>
			</li>
		</ul>
		
</div>
<div class="topLine"></div>