<!DOCTYPE html>
<html>
<head>
  <title>
  <%= "#{@page_title} " << "* Becker Handmade Instruments * Custom Built *" %></title>
  <%= stylesheet_link_tag    "application" %>
	<link href='http://fonts.googleapis.com/css?family=Ovo' rel='stylesheet' type='text/css'>
	
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag 'store' %>

  <%= csrf_meta_tags %>
  <% Time::DATE_FORMATS[:custom] = "%B %e, %Y at %I:%M %p" %>
  <% Time::DATE_FORMATS[:custom_form] = "%b %e, %Y" %>
	
</head>
<body class='<%= controller.controller_name %>'>
<!-- ***********    HEADER NAV BAR     *************** -->
  
  <% if params[:controller] == 'main' %>
    <% chosen_navbar = 'layouts/main_navbar' %>
  <% elsif params[:controller] == 'store' %>
    <% chosen_navbar = 'layouts/main_navbar' %>
  <% else %>
    <% chosen_navbar = 'layouts/admin_navbar' %>
    <div class="adminBackground1"></div>
  <% end %>
  <%= render chosen_navbar %>
  

<!-- ***********    MAIN  LAYOUT     *************** -->
  <% if params[:controller] == 'store'  %>
    <div>
  <% else %>
    <div class="jonBumper"> 
  <% end %>   
      <div id="main">
        <%= yield %>
      </div>
  </div>

	
<!-- scripts concatenated and minified via build script -->
	<%= javascript_include_tag "plugins" %>
	<%= javascript_include_tag "script" %>
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <!--<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script> -->
</body>
</html>
